{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div>
        <h1>Home</h1>
        <p>Home page</p>
        <p>Welcome to the project to test the ci/cd</p>
    </div>
{% endblock %}
